{% extends "base.html" %}
{% block title %}Post Quantum Cryptography techniques in Blockchain{% endblock %}
{% block content %}
<div class="container home-container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container home-title-container p-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h1 class="section-subheading text-white">⛓️ Post Quantum Cryptography techniques in Blockchain ⛓️</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-12 text-center text-white">
                <p>This web page shows the results obtained by comparing post-quantum cryptographic methods with ECDSA, which is the digital signature used in Go-Ethereum. The results are obtained from functions developed in GO that simulate cryptographic functions of Go-Ethereum in every page loading.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-6 col-md-3 text-center">
                <a class="btn btn-info btn-m text-uppercase" href="/key-generation">🔑 Key Generation</a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a class="btn btn-info btn-m text-uppercase" href="/signature-generation">✍ Signature Generation</a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a class="btn btn-info btn-m text-uppercase" href="/signature-verification">📝 Signature Verification</a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a class="btn btn-info btn-m text-uppercase" href="/signature-key-sizes">📊 Key/Signature sizes</a>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}